
PORT=4000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=popstop_db
JWT_SECRET=popstopsecretkey2026
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_EMAIL=your_smtp_email
SMTP_PASSWORD=your_smtp_password
SMTP_FROM_NAME=The Pop Stop
SMTP_FROM_EMAIL=noreply@popstop.com
